https://github.com/TelegramPlayGround/pyrogram/archive/unknown_errors.zip
bardapi~=0.1.30
langdetect
google-generativeai
TgCrypto
python-dotenv
speedtest-cli
telegraph[aio]
pyrate_limiter 
cachetools
aiofiles
psutil
httpx
motor
bs4
uvloop
pillow
g4f
beautifulsoup4
regex
plotly
pandas-profiling
pandas
kaleido
statsmodels
matplotlib