pyrogram
bardapi
langdetect
google-generativeai
TgCrypto
python-dotenv
speedtest-cli
telegraph[aio]
pyrate_limiter 
cachetools
aiofiles
psutil
httpx
motor
bs4
uvloop
pillow
g4f
beautifulsoup4
regex
plotly
pandas-profiling
pandas
kaleido
statsmodels
matplotlib